services:
  consul:
    image: hashicorp/consul:latest
    container_name: consul_server
    restart: always
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"
      - "8300:8300"
      - "8301:8301/tcp"
      - "8301:8301/udp"
    command: "agent -server -bootstrap-expect=1 -ui -bind=0.0.0.0 -client=0.0.0.0 -advertise=10.204.20.134" #SESUAIKAN IP

  haproxy:
    image: haproxy:latest
[root@ho-sysrnddb-d4 haproxy-patroni]# cat haproxy.cfg 
global
    maxconn 2000

defaults
    log global
    mode tcp
    retries 3
    timeout connect 5s
    timeout client 30m
    timeout server 30m

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s

# PORT 5000: Khusus untuk WRITE (Otomatis ke Leader)
listen postgres_write
    bind *:5000
    mode tcp
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server node_131 10.204.20.131:5432 check port 8008 #SESUAIKAN IP
    server node_132 10.204.20.132:5432 check port 8008 #SESUAIKAN IP
    server node_133 10.204.20.133:5432 check port 8008 #SESUAIKAN IP

# PORT 5001: Khusus untuk READ (Ke Replica)
listen postgres_read
    bind *:5001
    mode tcp
    option httpchk GET /replica
    http-check expect status 200
    
    server node_131 10.204.20.131:5432 check port 8008
    server node_132 10.204.20.132:5432 check port 8008
    server node_133 10.204.20.133:5432 check port 8008
